.detail-sections {
  display: flex;
  align-items: start;
  gap: 22px;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.detail-section {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  padding: 16px;
  border-radius: 5px;
  max-width: 500px;
  flex: 1;
  background: white;
}
