.detail-sections {
  display: flex;
  gap: 22px;
  justify-content: center;
  width: 100%;
  margin: 32px auto;
  margin-top: 72px;
  padding: 0 12px;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .detail-sections {
    flex-direction: column-reverse;
  }
}

.detail-section {
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 5px;
  flex: auto;
  background: var(--box-background);
}

.detail-sections-left {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex: auto;
  max-width: 100%;
}

.detail-sections-right {
  max-width: 500px;
  flex: auto;
  max-width: 100%;
}

.back-button {
  position: absolute;
  top: 12px;
  left: 12px;
}
