.detail-section-header {
  h3 {
    margin: 0;
    font-size: 24px;
  }

  hr {
    margin-bottom: 26px;
  }
}

.detail-sub-section-header {
  h4 {
    margin: 0;
    margin-top: 16px;
    font-size: 20px;
  }
}

.circle-button {
  border-radius: 50%;
  padding: 0rem 0.6rem 0.3rem 0.6rem;
  margin: 0 0 0.3rem auto;
  border: 2px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  font-size: 1.4rem;
  cursor: pointer;
}
