.detail-section-header {
  h3 {
    margin: 0;
    font-size: 24px;
  }

  hr {
    margin-bottom: 26px;
  }
}

.detail-sub-section-header {
  h4 {
    margin: 0;
    margin-top: 16px;
    font-size: 20px;
  }
}
