.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;

  /* Dark mode */
  background-color: var(--button-background);
  color: var(--primary-color);

  border-color: var(--primary-color);
}

.button:hover {
  background-color: var(--button-background-hover);
  border-color: var(--primary-color);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button.disabled, .button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;

  border-color: unset;

  &:hover {
    border-color: unset
  }
}

.button.danger {
  background-color: var(--error-color);
  color: white;
}
