

:root {
  /* Variables */
  --primary-color: #26926a;
  --error-color: #E0401D;

  --button-background: #f9f9f9;
  --button-background-hover: #f1f1f1;
  --button-border-color: #777;
  --button-border-focus-color: #5E9ED6;

  --border-color: rgba(0, 0, 0, 0.12);

  --main-background: #FAFBFC;
  --box-background: #fff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display:flex;
}

#root {
  display: flex;
  width: 100%;
  background: var(--main-background);
}

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
