.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 20px 20px;
}

.page-title {
  margin-left: var(--table-side-padding);
  margin-right: var(--table-side-padding);
  align-content: center;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-grid {
  grid-template-columns: 0.3fr 2fr 0.6fr 0.5fr 0.5fr 0.5fr 1fr 0.6fr 0.6fr;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: auto;
  min-width: 1200px;
}

.loader-container {
  width: 4rem;
}

.instruction-text {
  margin-left: 1rem;
  color: #a5a5a5;
}

.info-text {
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666;
}

.installation-type-emoji {
  font-size: 0.85rem;
  cursor: help;
  white-space: nowrap;
  display: inline-block;
}
